@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #f5f2f2;
    background-color: #f8f8f8;
    font-family: "Roboto",Arial, sans-serif;
}

.container {
    margin: 0 auto;
    padding: 2rem;
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

a {
    text-decoration: none;
}

.hero-section {
    height: 100vh;
    width: 100%;
}

.hero {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../Images/bg_1.jpg");
    background-position:right top;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-logo {
    display: flex;
    flex-direction: column;
    
}

.left-logo h3 {
    font-size: 2rem;
}

.left-logo h5 {
    font-size: 0.7rem;
}

.right-logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    /* justify-content: space-between; */
}

.duration-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
}

.logo-icon {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.social {
    display: flex;
    align-items: center;
}

.social-icon {
    width: 50px;
    height: 50px;
    background-color: #f7dede6b;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.4rem;
    font-size: 1rem;
    color: #03bab5;
    font-weight: 600;
}

.second-header {
    margin: 0 auto;
    width: 95%;
    height: 5rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    background: #ffffff2a;
}

.menu-list {
    width: 90%;
    padding: 1.5rem;
}

.menu-list a {
    padding: 1.5rem;
    color: #fff;
    font-weight: 600;
}

.menu-list a.active-menu {
    color: #03bab5;
}

.get-certified {
    padding: 1rem;
    height: 100%;
    width: 25%;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #03bab5;
}

.hero-content {
    margin-top: 3rem;
    flex-direction: column;
}

.content-text {
    padding-top: 2rem;
    line-height: 1.4;
}

.content-text h5 {
    letter-spacing: 2px;
}

.content-text h3 {
    font-size: 2.3rem;
}

.content-text h6 {
    font-size: 0.9rem;
}

.hero-btn {
    margin-top: 2rem;
}

.hero-btn a.hero-btn-first{
    padding: 1rem;
    border-radius: 5px;
    background: #03bab5;
    color: #fff;
}

.hero-btn a.hero-btn-second{
    padding: 1rem;
    border-radius: 5px;
    background: #fff;
    color: #03bab5;
}


/* Benefits Begins */
.benefit {
    width: 100%;
    background: #f8f8f8;
}

.left-benefit {
    flex: 1;
    width: 100%;
    background-image: url('../Images/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left-benefit img {
    width: 100%;
    
}

.right-benefit {
    /* margin: 0 auto; */
    padding: 2rem 3rem;
    color: red;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}

.upper-benefit-content {
    width: 100%;
}

.upper-benefit-content h4 {
    color: #03bab5;
    font-size: 1rem;
    line-height: 1.8rem;
}

.upper-benefit-content h2 {
    color: #000000cc;
    font-size: 2.875rem;
    font-weight: 500;
    line-height: 4rem;
    vertical-align: baseline;
    
}

.lower-benefit-content {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.benefit-cards {
    width: 100%;
    display: flex;
    background-color: #fff;
    margin-top: 1rem;
    padding: 3rem 2rem;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.055);

}

/* .benefit-cards:hover {
    background-color: #03bab5;
    color: #ffffff;
} */

.benefit-cards .ico {
    font-size: 3rem;
    color: #03bab5;
    margin-right: 1rem;
}

.benefit-card-content {
    line-height: 2;
}

.benefit-card-content h4 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #201e1e;
}

.benefit-card-content h6 {
    font-size: 0.9rem;
    font-weight: 400;
    color: #201e1e;
}


/* Banner Begins */
.banner {
    position: relative;
    width: 100%;
    height: 40vh;
    background-image: url("../Images/bg_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000004b;
    width: 100%;
    height: 100%;
}

.success-stories {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.success-icon {
    display: flex;
    align-items: center;
}

.iconic {
    font-size: 3.3rem;
}

.success-content {
    padding: 1.2rem;
}

.success-content h1 {
    font-family: Roboto, Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    line-height: 40px;
}

.success-content h3 {
    font-size: 16px;
    line-height: 28.8px;
    font-weight: 400;
}